li.photo-thumb-li li {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    text-decoration: none;
}

li.photo-thumb-li:hover, li.photo-thumb-li:active {
    z-index: 1;
    -webkit-transform: rotate(-3deg) scale(1.2);
    -moz-transform: rotate(-3deg) scale(1.2);
    -o-transform: rotate(-3deg) scale(1.2);
    transform: rotate(-3deg) scale(1.2);
}

